#ContainerLogo{
    text-align:center; 
    display: block;
    padding-bottom: 2%;
}
.header{ 
    display: inline;
}

.header img{ 
    margin-right: auto; 
    margin-left: auto; 
    float: left;
    width: 100px; 
    height: auto; 
}

.header h1{ 
    position: relative; 
    font-size: 3em; 
    top: 18px; 
    left: 10px; 
}
.navbar{ 
    overflow: hidden; 
    background-color:lavenderblush;

}

.navbar a{ 
    float: left; 
    display: block; 
    color: navy;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: lightblue; 
    font-size: 18px; 


}

.navbar a:hover{
    background-color: lavender; 
    color:black; 
}

.active {
    background-color: #4CAF50;
    color: white;
  }

#History h2{ 
    text-align: center; 
    background-color: lavender;
    font-size: 2em; 
    display: block;
    padding: 2%;
}

#History p{ 
    text-align: center; 
    font-size: 1.75em; 
}

#readMoreButton{ 
    text-align:center; 
    padding-bottom: 1.3%;
}
#readMoreButton a{ 
    background-color: lavender;
    border: none;
    color:navy;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}

/**footer{ 
    background-color: lavender; 
    font-size: 1.5em; 
    text-align: center; 
    width: 100%; 
    height: auto; 
    position: fixed; 
    padding: 5%;
}**/

.footer{ 
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    text-align: center;
    display: block;
    background-color:lavender;
}
#footerTag{
  
    text-align: center;
    display: inline;
    position: relative;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.8;
}
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }